<source>
  @type tail
  path /var/log/nginx/access.log
  pos_file /var/log/td-agent/nginx-access.log.pos
  tag nginx.access
  format nginx
</source>

<source>
  @type tail
  path /var/log/nginx/error.log
  pos_file /var/log/td-agent/nginx-error.log.pos
  tag nginx.error
  format /^(?<time>[^ ]* [^ ]*) \[(?<level>[^\]]*)\] (?<message>.*)$/
</source>

<filter nginx.access nginx.error>
  @type grep
  exclude1 host /^(<denylist_ips>)$/
</filter>

<filter nginx.access nginx.error>
  @type grep
  <denylist>
    file denylist.txt
    key host
  </denylist>
</filter>

<match nginx.access>
  @type file
  path /var/log/td-agent/nginx-access.log
</match>

<match nginx.error>
  @type file
  path /var/log/td-agent/nginx-error.log
</match>

<match nginx.access>
  @type file
  path /var/log/td-agent/denylist_audit.log
</match>
